/* Global Styles */
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

/* Heading Styles */
#heading {
  color: red;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  background-color: rgba(13, 63, 119, 0.808);
}

/* Logo Styles */
.logo {
  width: 200px;
}

/* Navigation Styles */
.nav-items {
  padding: 0 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  color: whitesmoke;
}

/* Responsive Container Styles */
.res-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* Book Card Styles */
.book-card {
  border-radius: 15px;
  width: 250px;
  height: 403px;
  margin: 5px;
  padding: 20px;
  margin: 4px;
  /* background-color: rgb(155, 210, 226); */
  transition: border-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-card:hover {
  cursor: pointer;
  
}

.book-card-image {
  width: 100%;
}

.book-card-logo {
  width: 90px;
}

/* Search Bar Styles */
.searchBar {
  padding: 10px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.details-container{
  margin: 8px;
}
.book-name{
font-size: 18px;
font-weight: bold;
color: black;
}
.author-name{
  font-size: 16px;
  color: 5b5858;

}
.book-cost{
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.book-rating{
  font-size: 16px;
  color: #5b5858;
}
.margin-btm-4{
margin-bottom: 4px;
}
.margin-btm-10{
  margin-bottom: 25px;
}
.blue-btn{
  background-color: #3c6491;
  border-radius: 6px;
  width: 91px;
  height: 28px;
  color: white;
  cursor: pointer;
}
.search-container {
  position: relative;
  display: inline-block;
}

.search-input {
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #555;
  cursor: pointer;
}
.sub-header{
  background: #e5e1e1;
  padding: 20px;
  text-align: end;
}
.filter-btn{
  background-color: #3c6491;
  border-radius: 6px;
  width: 200px;
  height: 28px;
  color: white;
  cursor: pointer;
}

  



